# Dipendenze (cartella pesantissima, si rigenera con npm install)
node_modules/

# Build di Next.js (file temporanei compilati)
.next/
out/
build/

# File di configurazione locale (contiene le tue password del DB)
.env.local
.env
.env.development.local
.env.test.local
.env.production.local

# File di sistema
.DS_Store
Thumbs.db

# Log di errori
npm-debug.log*
yarn-debug.log*
yarn-error.log*